@charset "utf-8";

body {
  max-width: 1440px;
  margin: 0 auto;
  color: var(--color-white);
}

/* 01.intro */
.intro {
  width: 100%;
  background-color: var(--bg-olivegreen);
}

.hidden_logo {
  color: transparent;
}

/* 기존 intro-line-box와 intro-main-title 스타일 유지 */
.intro .intro-line-box {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1440px;
  z-index: 999;
  height: 40px;
  border-top: 1.5px solid var(--color-white);
  border-bottom: 1.5px solid var(--color-white);
  justify-content: space-between;
  padding: 0 40px;
  background-color: var(--bg-olivegreen);
}

.intro-main-title {
  text-align: center;
  line-height: 250px;
  position: relative;
  transition: all 0.5s ease;
  padding-top: 60px;
  width: 100%;
  max-width: 1440px;
}


/* 인트로 이미지 컨테이너 */
.intro .intro-img-container {
  padding: 28px 0;
  border-top: 1.5px solid var(--color-white);
  border-bottom: 1.5px solid var(--color-white);
}

.intro .intro-img-container .intro-img {
  width: 96%;
  height: 853px;
  background: url(./images/main_intro.png) 50% /cover no-repeat;
  margin: 0 auto;
}



.intro .intro-img-container .intro-txt h2 {
  text-align: center;
  padding-top: 126px;
}

.intro .intro-img-container .intro-txt p {
  line-height: 27px;
  padding-left: 200px;
}


/* 반응형 pc ver */
@media screen and (max-width: 540px) {
  .intro {
    background-color: pink;
  }

  .intro .intro-line-box img:nth-of-type(2) {
    display: none;
  }
  .intro .intro-line-box img:nth-of-type(4) {
    display: none;
  }
  .intro .intro-line-box {
    padding: 0 20px;
    height: 60px;
  }

  .intro .intro-img-container .intro-img {
    width: 90%;
    height: 400px;
  }
}





























/* 02. intro main-promotion */
.main-promotion {
  background-color: var(--bg-olivegreen);
}

.main-promotion .main-promotion-container {
  background-color: var(--bg-olivegreen);
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 890px 800px; */
}

.main-promotion .promo-one {
  width: 100%;
  height: 100%;
  border-bottom: 1.5px solid var(--color-white);
  border-right: 1.5px solid var(--color-white);
}

.main-promotion .promo-one .promo-one-img {
  /* margin: 20px auto; */
  width: 100%;
  height: 845px;
  background: url(./images/intro02.jpg) 50% /cover no-repeat;
}





.main-promotion .promo-one-disc {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-bottom: 1.5px solid var(--color-white);
}

.main-promotion .promo-one-disc h3 {
  margin-bottom: 80px;
}

.main-promotion .promo-one-disc p:first-of-type {
  margin-bottom: 140px;
  font-size: 20px;
  line-height: 36px;
}








.main-promotion .promo-two-disc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-bottom: 1.5px solid var(--color-white);
  border-right: 1.5px solid var(--color-white);
}

.main-promotion .promo-two-disc .promo-two-txt:first-of-type {
  padding-bottom: 110px;
}








.main-promotion .promo-two {
  width: 100%;
  border-bottom: 1.5px solid var(--color-white);
}

.main-promotion .promo-two .promo-two-img {
  margin: 83px auto;
  width: 440px;
  height: 635px;
  background: url(./images/intro03.jpg) 50% /cover no-repeat;
}


/* 흐르는 텍스트 */



.line-wrapper {
  height: 195px;
  font-size: 150px;
  padding-left: 35px;
  max-width: 1440px;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--bg-olivegreen);
}

.line-wrapper .text {
  display: inline-block;
  gap: 100px;
  overflow: hidden;
}



















/* sec3. products */
.products {
  background-color: var(--bg-beige);
  color: var(--bg-olivegreen);
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300vh;
  overflow: hidden;
}

.products .protucts-pics li {
  text-align: center;
  width: 100%;
  height: 100vh;
  border-right: 1.5px var(--bg-olivegreen) solid;
}

.products .protucts-desc li {
  position: absolute;
  top: 0;
  opacity: 0;
  margin-top: 250px;
}

.products .protucts-desc li.active {
  opacity: 1;
}

.products .protucts-pics img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 50%;
}

.products .protucts-pics .protucts-pic1 img {
  width: 230px;
}

.products .protucts-pics .protucts-pic2 img {
  width: 275px;
}

.products .protucts-pics .protucts-pic3 img {
  width: 215px;
}

.products .protucts-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.products .protucts-desc h3 {
  margin-bottom: 55px;
}

.products .protucts-desc p {
  font-size: 17px;
}

.products .protucts-desc p:first-of-type {
  margin-bottom: 15px;
}

.products .protucts-desc p:last-of-type {
  margin-bottom: 115px;
}














/* sec.4 visual */
.visual .visual-contents {
  align-items: center;
  height: 800px;
  background-color: var(--bg-olivegreen);
}

/* visual-one (텍스트 부분) */
.visual .visual-contents .visual-text {
  width: calc(50% - 1px);
  padding-left: 80px;
  text-align: left;
}

.visual .visual-contents .visual-text p:first-of-type {
  font-size: 22px;
}

.visual .visual-contents .visual-text h3 {
  font-size: 44px;
  margin-bottom: 110px;
  position: relative;
}

.visual .visual-contents .visual-text h3::before {
  content: "";
  width: 555px;
  height: 1.5px;
  background-color: rgb(255, 255, 255, 0.5);
  position: absolute;
  bottom: -25px;

}


.visual-text p {
  margin: 1rem 0;
  font-size: 21px;
}

.visual-text p:first-of-type {
  font-size: 22px;
}


.visual .visual-contents .visual-text span:nth-of-type(1) {
  font-family: 'Instrument Serif';
  font-size: 28px;
  padding-right: 10px;
}

.visual .visual-contents .visual-text span:nth-of-type(2) {
  font-size: 22px;
  font-weight: 600;
}












/* visual-two (사진 부분) */
.visual-one {
  width: 50%;
  /* 화면의 50% 차지 */
  height: 100%;
  /* 부모 높이에 맞추기 */
  border-left: 2px var(--color-white) solid;
}

.visual-one img {
  width: 100%;
  /* 가로를 꽉 채움 */
  height: 100%;
  /* 세로를 꽉 채움 */
  object-fit: cover;
  /* 사진 비율 유지하며 영역 채우기 */
}

/* visual-wrapper */
.visual-wrapper {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5px;
  border-top: 1.5px solid var(--color-white);
  border-bottom: 1.5px solid var(--color-white);
}

.visual-wrapper .visual-box {
  width: 100%;
  height: 665px;
}

.visual-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

















/* sec.5 gift */
.gift {
  background-color: var(--bg-dgray);
  height: 550px;
  padding: 0 170px;
  justify-content: space-between;
  border-bottom: 1.5px solid var(--color-white);

}

.gift .gift-text {
  text-align: center;
  padding-left: 100px;
}

.gift .gift-text .gift-title {
  font-size: 60px;
  line-height: 60px;
}

.gift .gift-text .gift-title span {
  font-style: italic;
}

.gift .gift-text p:nth-of-type(3) {
  padding: 50px 0 40px 0;
  font-size: 18px;
  line-height: 30px;
}















/* sec.6 brand */
.brand {
  height: 660px;
  border-bottom: 2px solid var(--color-white);

}

.brand>div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 80px;
}

/* aromatica 영역 */
.aromatica {
  background-image: url(./images/brand01.png);
}

/* siolbaker 영역 */
.siolbaker {
  background: url(./images/brand02.png) 50% /cover no-repeat;
  border-left: 2px var(--color-white) solid;


}

/* 로고 이미지 스타일 */
.brand .aromatica img {
  max-width: 250px;
  margin-bottom: 100px;
}

.brand .siolbaker img {
  max-width: 180px;
  margin-bottom: 90px;
}

/* 텍스트 스타일 */
.brand p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}






















/* sec.7 footer */
footer {
  background-color: var(--bg-olivegreen);
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer .footer-title {
  font-size: 58px;
  padding-bottom: 50px;
}

footer p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

footer .btn_wh {
  margin-top: 40px;
}