@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Pacifico);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html,body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

header{
  width:100%;
  height:100%;
  background-color:#222;
  float:left;
}
h1{
  float:left;
  width:100%;
  text-align:center;
  font-family:'Pacifico', cursive;
  color:#fff;
  font-size:4vw;
  margin-top:20vh;
}

section{
  width:100%;
  min-height:100%;
  float:left;
  position:relative
}

.sticky{
  height:100%;
  width:50%;
  float:left;
  position:absolute;

}
.sticky.fixy{
  position:fixed; 
  top:0;
  left:0;
}

.sticky.bottom{
  position:absolute;
  bottom:0;
}
.green{
    background-color:green;
}

.red{
    background-color:red;
}
.pink{
  background-color: pink;
}

.scrolling{
  float:right;
  width:50%;
  padding:20px;
}
p{
  font-size:15pt;
}