@font-face {
    font-family: 'Instrument Serif';
    src: url('../fonts/InstrumentSerif/InstrumentSerif-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Serif';
    src: url('../fonts/InstrumentSerif/InstrumentSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

