@font-face {
    font-family: 'Italiana';
    src: url('../fonts/Italiana/Italiana-Regular.woff2') format('woff2'),
        url('../fonts/Italiana/Italiana-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

