/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>is licensed by CC BY 4.0</div>
      OR
      <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>

      CSS rules to specify fonts

      font-family: "Quantico";;

*/

/* quantico-regular - latin */
@font-face {
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Quantico/quantico-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* quantico-italic - latin */
  @font-face {
    font-family: 'Quantico';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/Quantico/quantico-v17-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* quantico-700 - latin */
  @font-face {
    font-family: 'Quantico';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Quantico/quantico-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* quantico-700italic - latin */
  @font-face {
    font-family: 'Quantico';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/Quantico/quantico-v17-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
 
